# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# Dataset
backend/dataset/

# Trained Models
backend/models/

# Uploaded Images
backend/uploads/

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log